@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    margin: 87px 0 0 0;
    background-color: #f4f4f4;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

.content {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.button {
    background: none;
    height: 50px;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: background 0.4s;
}

#header {
    background: #141211;
    padding: 0.85em 0;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.responsiveMenu {
    color: #FAFAFA;
    display: none;
    text-align: center;
}

.responsiveMenu:before {
    content: '\f0c9';
    font: 20px fontawesome;
    cursor: pointer;
}

@media screen and (max-width: 1110px) {
    #header .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    body {
        margin: 80px 0 0 0;
    }
    
    #header nav {
        display: none;
    }
    
    #header .content {
        flex-direction: row;
    }
    
    .responsiveMenu {
        display: block;
    }
    
    #header nav a:nth-child(even):after {
        content:"\A";
        white-space:pre;
    }
    
    #header nav a.active {
        background: none !important;
    }
    
    #header nav a:hover {
        background: none !important;   
    }
    
    #header .navigationContainer {
        display: flex;
        flex-direction: column;
    }
}

#header .logo, #header nav a {
    padding: 0px;
}

@media (min-width: 500px) {
    #header .logo, #header nav a {
        padding: 0px;
    }
}

#header .logo {
    font-size: 1.35em;
    color: #28415E;
}

#header .logoImg {
    width: 100%;
    max-width: 350px;
    padding-top: 5px;
}

#header nav a {
    font-size: 0.65em;
    text-transform: uppercase;
    color: #FAFAFA;
    padding: 10px;
    box-sizing: border-box;
    transition: background 0.5s ease-in, text-shadow 0.5s ease-in;
    border-radius: 10px;
}

#header nav a:hover {
    background: rgba(60, 54, 51, 0.8);
    text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
    border-radius: 10px;
}

#header nav a.active {
    background: rgba(60, 54, 51, 0.8);
    text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
    border-radius: 10px;
}

@media (min-width: 500px) {
    #header nav a {
        font-size: 0.95em;
    }
}

#slider {
    background-color: #EEEBE4;
    background-image: url("../img/slider2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    filter: grayscale(60%);
}

#slider > .cta > p {
    color: #FAFAFA;
}

#slider > .cta > .button > span {
    color: #FAFAFA;
}

@media (min-width: 500px) {
    #slider {
        height: 478px;
    }
}

#slider .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #28415E;
}

@media (min-width: 500px) {
    #slider .cta .splash {
        display: block;
        width: 200px;
    }
}

#slider .cta img {
    margin-bottom: 1em;
}

#slider .cta h1, #slider .cta p, #slider .cta .button {
    text-align: center;
    text-shadow: 2px 2px 10px #000;
}

#slider .cta h1 {
    margin: 0;
    color: #FAFAFA;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#slider .cta p {
    margin-bottom: 1.5em;
}

#slider .cta .button {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    box-shadow: inset 0 0 0 2px #2A2A2A;
    color: #28415E;
}

#slider .cta .button:hover, #slider .cta .button:focus {
    background: #333333;
    color: #FAFAFA;
    box-shadow: inset 0 0 0 2px #333333;
}

#gallery {
    
}

#gallery h2 {
    margin: 0;
    text-align: center;
}

#gallery form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 4em 0;
    max-width: 600px;
}

@media (min-width: 500px) {
    #gallery form {
        flex-direction: row;
    }
}

#gallery form input, #gallery form button {
    margin: 0 1em;
    padding: 10px;
    height: 50px;
    outline: 0;
}

#gallery form input {
    background-color: #fff;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #494f4f;
    -webkit-transition: border-color 0.4s;
    -moz-transition: border-color 0.4s;
    transition: border-color 0.4s;
}

#gallery form input:focus {
    border-color: #879090;
}

@media (min-width: 500px) {
    #gallery form input {
        flex: 3;
        margin-bottom: 0;
    }
}

#gallery form .button {
    border: 0;
    box-shadow: inset 0 0 0 2px #879090;
    color: #494f4f;
}

#gallery form .button:hover, #gallery form .button:focus {
    background: #879090;
    color: #fff;
}

@media (min-width: 500px) {
    #gallery form .button {
        flex: 100px;
    }
}

#gallery ul, #gallery ul li, #gallery ul li div {
    display: flex;
}

#gallery ul {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery ul li {
    background: rgba(0, 0, 0, 0.35);
    position: relative;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
}

#gallery ul li:hover {
    background: transparent;
}

@media (min-width: 500px) {
    #gallery ul li {
        flex: 50%;
    }
}

@media (min-width: 800px) {
    #gallery ul li {
        flex: 25%;
    }
}

#gallery ul li div {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

#gallery ul li div h3, #gallery ul li div h4 {
    margin: 0;
}

#gallery ul li div h3 {
    margin-bottom: 0.35em;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#gallery ul li div h4 {
    font-weight: 300;
    letter-spacing: 1px;
}

#gallery ul li img {
    position: relative;
    z-index: -1;
    width: 475px;
    height: 475px;
}

#senesteBlog {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
}

#senesteBlog article {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0.85em 1em;
    padding: 1em;
    border-radius: 3px;
}

#senesteBlog article.venstreSide {
    background: transparent;
    flex-grow: 1.5;
}

#senesteBlog article.hoejreSide {
    background: transparent;
}

#senesteBlog article.venstreSide h2 {
    color: #222222;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#senesteBlog article.hoejreSide h2 {
    color: #222222;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#senesteBlog .blogBillede {
    margin: -1em -1em 0 -1em;
    max-height: 249px; 
    box-sizing: border-box !important;
}

#senesteBlog article:last-child {
    margin-bottom: 0;
}

#senesteBlog article h3 {
    color: #222222;
}

#senesteBlog article p {
    margin: 0 0 1em;
    font-size: 0.95em;
    line-height: 24px;
    font-weight: 500;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

#senesteBlog article p:last-of-type {
    margin-bottom: 3em;
}

#senesteBlog article .button {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 10px 30px;
    box-shadow: inset 0 0 0 1px #2a2a2a;
    color: #28415E;
    font-size: 0.8em;
    font-weight: 700;
}

#senesteBlog article .button:hover, #senesteBlog article .button:focus {
    background: #333333;
    color: #FAFAFA;
    box-shadow: inset 0 0 0 1px #333333;
}

#lecture {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
}

#lecture h1, #lecture h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 2px;
}

#lecture p a {
    color: #222222;
    font-weight: bold;
}

.hoejreSide p a {
    color: #222222;
    font-weight: bold;
}

#senesteBlog ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

#senesteBlog ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

#senesteBlog ol > li:before {
    display: inline-block;
    width: 1.5em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

#senesteBlog ul {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

#senesteBlog ul > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

#senesteBlog ul > li:before {
    display: inline-block;
    width: 1.5em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: "-";
}

#senesteBlog .hoejreSide p {
    font-weight: 300;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed rgba(204, 204, 204, 0.73);
    margin: 1em 0;
    padding: 0;
}

@media (min-width: 800px) {
    #senesteBlog {
        flex-direction: row;
    }
    #senesteBlog article {
        margin-bottom: 0;
    }
}

#footer {
    background: #141211;
    flex: 1;
    text-align: center;
    color: #FAFAFA;
    font-size: 1.3em;
}

.teaserBoks {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bogTeaser {
    background: #fdfdfd;
    padding: 1em;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.bogTeaser iframe {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.bogTeaserLuk {
    float: right;
}

.subscribeForm .subscribeEmail {
    border: 0;
    border-bottom: 1px solid #bbbbbb;
    background: transparent;
    padding: 1.2em 0 1em 0;
    width: 75%;
    font-size: 1em;
}

.subscribeForm .subscribeKnap {
    color: #FAFAFA;
    border: 1px solid #2a2a2a;
    background: #2a2a2a;
    padding: 1.2em;
    border-radius: 30px;
    width: 24%;
}

.contactForm .contactInput {
    width: 100%;
    padding: 1.2em 0 1em 0;
    background: transparent;
    margin-bottom: 1em;
    border: 0;
    border-bottom: 1px solid #bbbbbb;
    font-size: 1em;
    color: #000;
    
}

.contactForm textarea {
    height: 8em;
    resize: none;
}

.contactForm .contactButton {
    width: 100%;
    padding: 1.2em;
    border: 1px solid #2a2a2a;
    background: transparent;
    transition: background 0.2s ease-in, color 0.2s ease-in;
    border-radius: 30px;
    font-size: 0.8em;
}

.contactForm .contactButton:hover {
    background: #2a2a2a;
    color: #FAFAFA;
    cursor: pointer;
}

.contactForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right transparent !important;
    color: #A9A9A9 !important;
}

.soegForm {
    width: 100%;
}

.soegForm .soegInput {
    width: 100%;
    padding: 1.2em 0 1em 0;
    background: transparent;
    margin-bottom: 1em;
    border: 0;
    border-bottom: 1px solid #bbbbbb;
    font-size: 1em;
    color: #000;
    text-align: center;
}

.search {
    position: relative;
    font-size: 18px;
    padding-top: 40px;
    margin: -20px auto 0;
}

.search label {
    position: absolute;
    right: 17px;
    top: 60px;
    color: #afafaf;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.search #search-input {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 2px;
}

.bioImgWrapper {
    height: 300px;
    overflow: hidden;
}

.bioImg {
    border-radius: 300px;
}

.blogDato {
    padding-top: 1.1em;
    font-size: 0.8em;
    color: #aaa;
}

article h4 {
    text-transform: uppercase;
}

p.blogText {
    font-weight: 300 !important;
}

.responsiveMenuContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 3;
    background: rgba(0, 0, 0, 0.89);
    color: #FAFAFA;
}

.responsiveMenuItem {
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    padding: 10px;
}

.responsiveMenuItem.active {
    background: rgba(60, 54, 51, 0.8);
    text-shadow: 0px 0px 2px rgba(255,255,255,0.5);
}

.responsiveMenuExit {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
}

.responsiveMenuContainer > a {
    text-decoration: none;
    color: #FAFAFA;
}

#headerNavigation {
    position: relative;
}

.flag {
    width: 27px;
}

.flagDropDown {
    width: 40px;
    background: #141211;
    position: absolute;
    right: 4px;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

.languageMenu {
    transition: none !important;
}

.languageMenu:hover {
    background: none !important;
}

.chooseLanguage {
    transition: none !important;
    padding: 0 !important;
}

.chooseLanguage:hover {
    background: none !important;
}

.responsiveMenuItemFlag {
    text-align: center;
}

.describeTekst {
    font-weight: 300;
}